<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Dunder Mifflin Branch Data</h1>

<h2>Select Branches</h2>

<form method="POST" action="/view">
  <select name="locations" size="12" multiple>
  {% for n in data2 %}
  <p>
  
    <option value={{n}}>{{n}}</option>

  </p>
  {% endfor %}
  
  </select>
  <input type="submit">
</form>  
  
  
  <div>
  <table style="width:85%">
  <tr>
    <th align=left>Branch Location</th>
    <th align=left>Manager ID</th>
    <th align=left>Branch Address</th>
    <th align=left>Branch Profit</th> 
    <th align=left>Number of Customers</th>
    <th align=left>Quantity Sold</th>
    <th align=left>Sales Revenue</th>
  </tr>
  <tbody>
    {% for n in data %}
    <tr>
        <td>{{n[0]}}</td>
        <td>{{n[1]}}</td>
        <td>{{n[2]}}</td>
        <td>{{n[3]}}</td>
        <td>{{n[4]}}</td>
        <td>{{n[5]}}</td>
        <td>{{n[6]}}</td>

    </tr>
    {% endfor %}
    </table>
  </div>


<p><a href="/">Return to Home</a></p>

  
</body>


</html>
