<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Dunder Mifflin Branch Data</h1>

<form method="POST" action="/view">
  <select name="locations" size="12" multiple>
  {% for n in data2 %}
  <p>
  
    <option value={{n}}>{{n}}</option>

  </p>
  {% endfor %}
  
  </select>
  <input type="submit">
</form>  
  
  
  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>


<p><a href="/">Return to Home</a></p>

  
</body>


</html>
